*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
.lock
.tmp
Thumbs.db
/bin
/out
/target
.idea/

.gradle/
build/

*.apk
output.json

misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.jks
*.keystore
google-services.json

*.hprof

*.ap_
*.aab

*.dex

*.class

gen/

.navigation
captures/

obj/
Since Android Studio 2.2 and up to 3.0, new projects are created with this gitignore file:

Deprecated - for older project format, add this section to your gitignore file:

/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
